*.ibc
*.idr~
nipype/nipype_demo/*

haskell/TH/.cabal-sandbox/*
haskell/TH/cabal.sandbox.config
haskell/TH/dist/*

talk-template/.cabal-sandbox/*
talk-template/cabal.sandbox.config
talk-template/dist/*
talk-template/reveal.js/*

haskell/notes-on-free-monads-are-good-for-you/.cabal-sandbox/*

haskell/parallel/P
haskell/parallel/P.lhs.bak
haskell/parallel/cabal.sandbox.config
haskell/parallel/dist/*
haskell/exceptions-in-parallel/dist/
haskell/exceptions-in-parallel/cabal.sandbox.config
haskell/classy-mtl/cabal.sandbox.config
haskell/classy-mtl/dist/*
haskell/mvar/.stack-work/*
haskell/profunctors/.stack-work/*
haskell/prob-monad/cabal.sandbox.config
haskell/prob-monad/dist/*

haskell/zipper/Main
haskell/zipper/Main.dyn_hi
haskell/zipper/Main.dyn_o
haskell/zipper/Zipper.dyn_hi
haskell/zipper/Zipper.dyn_o

haskell/bigdata/.cabal-sandbox/*
haskell/bigdata/cabal.sandbox.config
haskell/bigdata/dist/

ghc-memory-usage/readfile
ghc-memory-usage/readfile.hi
ghc-memory-usage/readfile.hs
ghc-memory-usage/readfile.o

python/beautiful_soup_4/virtualenv_py36/*
