constraints: QuickCheck ==2.9.2,
             base ==4.8.2.0,
             rts ==1.0,
             ghc-prim ==0.4.0.0,
             integer-gmp ==1.0.0.0,
             containers ==0.5.6.2,
             array ==0.5.1.0,
             deepseq ==1.4.1.1,
             random ==1.1,
             time ==1.5.0.1,
             semigroups ==0.18.2,
             binary ==0.7.5.0,
             bytestring ==0.10.6.0,
             hashable ==1.2.4.0,
             text ==1.2.2.1,
             tagged ==0.8.5,
             template-haskell ==2.10.0.0,
             pretty ==1.1.2.0,
             transformers ==0.4.2.0,
             transformers-compat ==0.5.1.4,
             unordered-containers ==0.2.7.1,
             tf-random ==0.5,
             primitive ==0.6.1.0,
             operational ==0.2.3.3,
             mtl ==2.2.1
