constraints: Cabal ==1.24.0.0,
             array ==0.5.1.0,
             base ==4.8.2.0,
             rts ==1.0,
             ghc-prim ==0.4.0.0,
             integer-gmp ==1.0.0.0,
             binary ==0.7.5.0,
             bytestring ==0.10.6.0,
             deepseq ==1.4.1.1,
             containers ==0.5.6.2,
             directory ==1.2.2.0,
             filepath ==1.4.0.0,
             time ==1.5.0.1,
             unix ==2.7.1.0,
             pretty ==1.1.2.0,
             process ==1.2.3.0,
             Chart ==1.8,
             colour ==2.3.3,
             data-default-class ==0.1.2.0,
             lens ==4.14,
             base-orphans ==0.5.4,
             bifunctors ==5.4.1,
             comonad ==5,
             contravariant ==1.4,
             StateVar ==1.1.0.4,
             stm ==2.4.4.1,
             transformers ==0.4.2.0,
             semigroups ==0.18.2,
             hashable ==1.2.4.0,
             text ==1.2.2.1,
             tagged ==0.8.5,
             template-haskell ==2.10.0.0,
             transformers-compat ==0.5.1.4,
             unordered-containers ==0.2.7.1,
             void ==0.7.1,
             distributive ==0.5.0.2,
             exceptions ==0.8.3,
             mtl ==2.2.1,
             free ==4.12.4,
             prelude-extras ==0.4.0.3,
             profunctors ==5.2,
             semigroupoids ==5.1,
             kan-extensions ==5.0.1,
             adjunctions ==4.3,
             parallel ==3.2.1.0,
             reflection ==2.1.2,
             vector ==0.11.0.0,
             primitive ==0.6.1.0,
             old-locale ==1.0.0.7,
             operational ==0.2.3.3,
             random ==1.1,
             Chart-cairo ==1.8,
             cairo ==0.13.3.0,
             utf8-string ==1.0.1.1,
             Chart-diagrams ==1.8,
             SVGFonts ==1.5.0.1,
             attoparsec ==0.13.1.0,
             fail ==4.9.0.0,
             scientific ==0.3.4.9,
             blaze-markup ==0.7.1.0,
             blaze-builder ==0.4.0.2,
             blaze-svg ==0.3.6,
             diagrams-core ==1.3.0.8,
             dual-tree ==0.2.0.9,
             monoid-extras ==0.4.2,
             groups ==0.4.0.0,
             newtype ==0.2,
             linear ==1.20.5,
             bytes ==0.15.2,
             cereal ==0.5.3.0,
             diagrams-lib ==1.3.1.4,
             JuicyPixels ==3.2.8,
             zlib ==0.6.1.1,
             active ==0.2.0.11,
             diagrams-solve ==0.1.0.1,
             fingertree ==0.1.1.0,
             fsnotify ==0.2.1,
             async ==2.1.0,
             hinotify ==0.3.8.1,
             unix-compat ==0.4.2.0,
             intervals ==0.7.2,
             optparse-applicative ==0.13.0.0,
             ansi-wl-pprint ==0.6.7.3,
             ansi-terminal ==0.6.2.3,
             parsec ==3.1.11,
             split ==0.2.3.1,
             tuple ==0.3.0.2,
             OneTuple ==0.2.1,
             xml ==1.3.14,
             diagrams-postscript ==1.3.0.7,
             dlist ==0.8.0.2,
             statestack ==0.2.0.5,
             diagrams-svg ==1.4.0.4,
             base64-bytestring ==1.0.0.1,
             old-time ==1.1.0.3,
             svg-builder ==0.1.0.1,
             gtk2hs-buildtools ==0.13.2.1,
             hashtables ==1.2.1.0,
             hmatrix ==0.16.1.5,
             storable-complex ==0.2.2,
             linda ==0.1.2,
             HUnit ==1.4.0.0,
             call-stack ==0.1.0
